@charset "UTF-8";

body{
    margin: 0;  	
    padding: 0;
    text-align: center;
    background-color: #F7F7F7;
}
#barraMenu{
    margin: 0;  	
    padding: 0; 
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #1AB5D9, #179DBD);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
}
#menuBarra{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ui-overlaypanel .opMenu{  	
    padding: 0px ;
    width: 180px;
    height: 40px;
    font-size: large;
    font-family: calibri, sans-serif;
    font-weight: normal;
    color: #1785ad;
    border-color: #1785ad;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    transition: background-color 0.3s;
}
.ui-overlaypanel .opMenu:hover{
    color: white;
    font-weight: normal;
    background-color: #A8A8A8;
    background-image: linear-gradient(to right, #1785ad, #1785ad);
}
.ui-overlaypanel .opMenuCRUD{  	
    padding: 0px ;
    width: 100px;
    height: auto;
    font-size: 12pt;
    font-family: calibri, sans-serif;
    font-weight: normal;
    color: #1785ad;
    border-color: #1785ad;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    transition: background-color 0.3s;
}
.ui-overlaypanel .opMenuCRUD:hover{
    color: white;
    font-weight: normal;
    background-color: #A8A8A8;
    background-image: linear-gradient(to right, #1785ad, #1785ad);
}
.opMenu{
    margin: 10px;  	
    padding: 0px ;
    width: auto;
    height: 40px;
    float: right;
    transition: background-color 0.3s;
    color: white;
    font-weight: normal;
    font-size: large; 
    font-family: calibri, sans-serif;
    background-color: transparent;
    background-image: none;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
.opMenu:hover{
    background-color: #1785ad;
    box-shadow: 0 rgba(0,0,0,0);
    border-style: none;
    border-width: thin;
    border-color: white;
    border-top-color: transparent;
    font-weight: normal;
}
.opSelecionadaMenu{
    margin: 10px;  	
    padding: 0px ;
    width: auto;
    height: 40px;
    float: right;
    color: white;
    font-weight: normal;
    font-size: large; 
    font-family: calibri, sans-serif;
    background-image: none;
    background-color: #1785ad;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
.imgLogado{
    border-radius:100px; 
    border:2px white solid; 
    float: right; 
    margin: 8px; 
    width: 40px; 
    height: 40px;
}
.imgLogado:hover{
    box-shadow: 0px 0px 0px 8px rgb(23,133,173);
}
#content{
    margin: 10px 0;  	
    padding: 10px;
    height: 85%;
    width: 80%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    /*
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
    */
}
#screen{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#conteiner{
    height: 100%;
    width: 100%;
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.botaoCinza{
    width: auto;
    height: auto;
    font-size: medium;
    font-family: calibri, sans-serif;
    font-weight: normal;
    color: #7497A3;
    border-color: #7497A3;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    transition: background-color 0.3s;
}
.botaoCinza:hover{
    color: white;
    font-weight: normal;
    background-color: #7497A3;
    background-image: linear-gradient(to right, #7497A3, #7497A3);
}
.botaoAzul{
    width: auto;
    height: auto;
    font-size: medium;
    font-family: calibri, sans-serif;
    font-weight: normal;
    color: #1785ad;
    border-color: #1785ad;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    transition: background-color 0.3s;
}
.botaoAzul:hover{
    color: white;
    font-weight: normal;
    background-color: #A8A8A8;
    background-image: linear-gradient(to right, #1785ad, #1785ad);
}

.ui-dialog .botaoAzul{
    width: auto;
    height: auto;
    margin: 15px;
    padding: 5px 10px;
    font-size: large;
    font-family: calibri, sans-serif;
    font-weight: normal;
    color: #1785ad;
    border-color: #1785ad;
    border-width: thin;
    border-radius: 50px;
    border-style: solid;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    transition: background-color 0.3s;
}
.ui-dialog .botaoAzul:hover{
    color: white;
    font-weight: normal;
    background-color: #A8A8A8;
    background-image: linear-gradient(to right, #1785ad, #1785ad);
}

.ui-dialog .botaoCinza{
    width: auto;
    height: auto;
    margin: 15px;
    padding: 0px;
    font-size: large;
    font-family: calibri, sans-serif;
    font-weight: normal;
    color: #7497A3;
    border-color: #7497A3;
    border-width: thin;
    border-radius: 50px;
    border-style: solid;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    transition: background-color 0.3s;
}
.ui-dialog .botaoCinza:hover{
    color: white;
    font-weight: normal;
    background-color: #7497A3;
    background-image: linear-gradient(to right, #7497A3, #7497A3);
}

#loginForm{
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-width: 2pt;
    background-color: rgba(255,255,255,0.7);
    border-radius: 500px;
    justify-content: center; 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}
.botaoLogin{
    color: #7497A3;
    font-size: larger; 
    font-family: calibri, sans-serif;
    font-weight: normal;
    border-radius: 50px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0 0px 0px 0 rgba(0,0,0,0.0);
    background-color: transparent;
}
.botaoLogin:hover{
    color: white;
    border-color: #1AB5D9;
    background-image: linear-gradient(to right, #1AB5D9, #1AB5D9);
    /*
    box-shadow: inset 0 -3px 6px 0 rgba(0,0,0,0.2);
    */
}
.text{
    color: #1AB5D9;
    font-size: x-large; 
    font-family: calibri, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text01{
    color: black;
    font-size: 17pt;
    margin: 5px 35px; 
    font-weight: 100;
    font-family: calibri, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.caixaTexto{
    width: 200px;
    padding: 3px 3px 3px 3px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-color: #7497A3;
    background-color: transparent;
}
.caixaTexto:focus{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#success {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    /*Change the Header color here*/
    background: #FFFFFF;
    border: 0;
    color: black;
    font-family: calibri, sans-serif;
    font-weight: 100;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0em .5em;
    position: relative;
    font-size: 1.3em;
    width: 500px;
}

#linha{
    transition: background-color 0.3s;
}
#linha:hover {
    background-color: #f2f2f2;
}